<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the fee_structure_init() hook (in hooks/fee_structure.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="fee_structure-Class-<%%VALUE(id)%%>" class="fee_structure-Class"><%%VALUE(Class)%%></td>
		<td id="fee_structure-Particulars-<%%VALUE(id)%%>" class="fee_structure-Particulars"><%%VALUE(Particulars)%%></td>
		<td id="fee_structure-Total-<%%VALUE(id)%%>" class="fee_structure-Total text-right"><%%VALUE(Total)%%></td>
