<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the parents_init() hook (in hooks/parents.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="parents-Name-<%%VALUE(id)%%>" class="parents-Name"><%%VALUE(Name)%%></td>
		<td id="parents-Phone-<%%VALUE(id)%%>" class="parents-Phone"><%%VALUE(Phone)%%></td>
		<td id="parents-Email-<%%VALUE(id)%%>" class="parents-Email"><a href="mailto:<%%VALUE(Email)%%>" title="<%%VALUE(Email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="parents-HomeAddress-<%%VALUE(id)%%>" class="parents-HomeAddress"><%%VALUE(HomeAddress)%%></td>
