<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the teachers_init() hook (in hooks/teachers.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="teachers-Name-<%%VALUE(id)%%>" class="teachers-Name"><%%VALUE(Name)%%></td>
		<td id="teachers-Gender-<%%VALUE(id)%%>" class="teachers-Gender"><%%VALUE(Gender)%%></td>
		<td id="teachers-Age-<%%VALUE(id)%%>" class="teachers-Age text-right"><%%VALUE(Age)%%></td>
		<td id="teachers-Phone-<%%VALUE(id)%%>" class="teachers-Phone"><%%VALUE(Phone)%%></td>
		<td id="teachers-Email-<%%VALUE(id)%%>" class="teachers-Email"><a href="mailto:<%%VALUE(Email)%%>" title="<%%VALUE(Email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="teachers-StaffNumber-<%%VALUE(id)%%>" class="teachers-StaffNumber text-right"><%%VALUE(StaffNumber)%%></td>
